<!DOCTYPE html>
<html lang="en">
  <head>
    <script id="shim-exports">var exports = typeof module !== 'undefined' ? module.exports : {};</script>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impressora GP iFood</title>
    <script type="module" crossorigin src="../static/index-6983884b.js"></script>
  </head>
  <body>
    <div id="root"></div>

  </body>
</html>
